<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/top_bar2.png" width="50px" slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="ion-text-center">
    <ion-card class="content-card">
      <ion-card-content>
        <ion-text>
          <h1>Modificar el pacient amb identificador: {{patientId}}</h1>
        </ion-text>
        <ion-row>
          <ion-text>
            <h5>Introdueix el nom.</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-input type="text" [(ngModel)]="patientName"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-text>
            <h5>Introdueix el primer cognom.</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-input type="text" [(ngModel)]="firstSurname"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-text>
            <h5>Introdueix el segon cognom.</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-input type="text" [(ngModel)]="secondSurname"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-text color="dark">
            <h5>Introdueix el número de targeta sanitària.</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-input
              type="text"
              [(ngModel)]="healthCardIdentifier"
            ></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-text color="dark">
            <h5>Selecciona el tipus d'atenció sanitària a rebre.</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-select
              placeholder="Tipus d'atenció sanitària"
              okText="Acceptar"
              cancelText="Cancel·lar"
              [(ngModel)]="hospitalCareType"
            >
              <ion-select-option value="quirurgic">Quirurgic</ion-select-option>
              <ion-select-option value="urgencies">Urgencies</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-button
            class="searchButton"
            size="medium"
            color="primary-color"
            fill="outline"
            (click)="modifyPatient()"
          >
            Modificar pacient
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
