ion-header {
  ion-toolbar,
  ion-item {
    --background: #ffffff;
    background: #ffffff;
    padding: 0 10px;
  }
  ion-back-button {
    --color: black !important;
  }
}

ion-content {
  --ion-background-color: #ffffff;
  ion-card {
    background-color: #ffffff;
    box-shadow: none !important;
  }
  ion-grid {
    height: 100%;
    ion-title {
      text-align: center;
    }
    ion-row {
      align-items: center;
      height: 100%;
      ion-item {
        --background: transparent !important;
        color: black;
      }
      .createPatientButton {
        --border-radius: 0px;
        text-transform: none;
      }
    }
    .marginRow {
      margin-top: 30px;
    }
  }
  .modifyPatientButton {
    --border-radius: 0px;
    text-transform: none;
  }
  .underline {
    --border-color: var(--ion-color-primary);
    --highlight-background: var(--ion-color-secondary);
    .item-content {
      background-color: transparent !important;
    }
  }
}

ion-input {
  --placeholder-color: var(--ion-color-primary);
  color: var(--ion-color-primary);
  caret-color: var(--ion-color-secondary);
}

ion-text {
  color: black;
}
