<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="#"
        (click)="goBackWithParams()"
      ></ion-back-button>
    </ion-buttons>
    <img src="assets/img/top_bar2.png" width="50px" slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="ion-text-center">
    <ion-card class="content-card">
      <ion-card-content>
        <ion-text>
          <h1>
            Modificar el pacient amb identificador:
            <font color="#3e4a74">{{patientId}}</font>
          </h1>
        </ion-text>
        <ion-row class="marginRow">
          <ion-text>
            <h5>Nom *</h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-item class="underline">
            <ion-input type="text" [(ngModel)]="patientName"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text>
            <h5>Primer cognom *</h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-item class="underline">
            <ion-input type="text" [(ngModel)]="firstSurname"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text>
            <h5>Segon cognom</h5>
          </ion-text> </ion-row
        ><ion-row>
          <ion-item class="underline">
            <ion-input type="text" [(ngModel)]="secondSurname"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text color="dark">
            <h5>Número de targeta sanitària *</h5>
          </ion-text> </ion-row
        ><ion-row>
          <ion-item class="underline">
            <ion-input
              type="text"
              [(ngModel)]="healthCardIdentifier"
            ></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text color="dark">
            <h5>Tipus d'atenció sanitària *</h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-item class="underline">
            <ion-select
              placeholder="Tipus d'atenció sanitària"
              okText="Acceptar"
              cancelText="Cancel·lar"
              [(ngModel)]="hospitalCareType"
            >
              <ion-select-option value="quirurgic">Quirúrgic</ion-select-option>
              <ion-select-option value="urgencies">Urgències</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-title>
            <ion-button
              class="modifyPatientButton"
              size="medium"
              (click)="modifyPatient()"
            >
              Modificar pacient
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-title>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
