ion-header {
  ion-toolbar,
  ion-item {
    --background: #ffffff;
    background: #ffffff;
    padding: 0 10px;
  }
  ion-back-button {
    --color: black !important;
  }
}

ion-content {
  --ion-background-color: #ffffff;
}

ion-grid {
  height: 100%;
}

.normalSpace {
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.lessSpace {
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -15px;
}

ion-item {
  margin-top: 10px;
  --background: transparent !important;
}

ion-input ion-select {
  color: var(--ion-color-primary);
  caret-color: var(--ion-color-secondary);
}

.displayPatientInfoButtonCol {
  margin-left: -50px;
}

.mainCard {
  background-color: #ffffff;
  box-shadow: none !important;
}

.infoCard {
  background-color: #ffffff;
  box-shadow: 0 3px 3px var(--ion-color-primary);
  border-radius: 0px;
}

.editButton {
  --border-radius: 0px;
  text-transform: none;
}

.item,
.list,
.item-content,
.item-complex {
  --ion-background-color: transparent !important;
}

.underline {
  --border-color: var(--ion-color-primary);
  --highlight-background: var(--ion-color-secondary);
  .item-content {
    background-color: transparent !important;
  }
}

ion-text {
  color: black;
}

ion-select {
  text-align: center;
}
