<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="assets/img/top_bar2.png" width="50px" slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="ion-text-center">
    <ion-card class="content-card">
      <ion-card-content>
        <ion-row>
          <ion-text>
            <h1>Pacient amb ID: <font color="#3e4a74">{{patientId}}</font></h1>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-col size="9">
            <ion-text>
              <h2>Informació del pacient</h2>
            </ion-text>
          </ion-col>
          <ion-col class="editButtonCol">
            <ion-button
              class="editButton"
              color="primary-color"
              fill="outline"
              (click)="goToModifyPatient()"
              ><ion-icon name="create-outline"></ion-icon
            ></ion-button>
          </ion-col>
          <ion-text>
            <h5>
              Nom:
              <font color="#3e4a74">{{patientName}}</font>
            </h5>
            <h5>
              Cognoms:<font color="#3e4a74">
                {{firstSurname}} {{secondSurname}}</font
              >
            </h5>
            <h5>
              Número de targeta sanitària:<font color="#3e4a74">
                {{healthCardIdentifier}}</font
              >
            </h5>
            <h5>
              Tipus d'atenció sanitària:<font color="#3e4a74">
                {{hospitalCareType}}</font
              >
            </h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-button
            class="editButton"
            size="medium"
            color="primary-color"
            fill="outline"
            (click)="presentAlertConfirm()"
          >
            Finalitzar seguiment del pacient
            <ion-icon slot="end" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-text color="dark">
            <h2>Afegir un estat nou al pacient:</h2>
            <h5>Tria un nou tipus d'estat:</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-select
              placeholder="Selecciona un estat predefinit"
              okText="Acceptar"
              cancelText="Cancel·lar"
              [(ngModel)]="newStateType"
              interface="popover"
            >
              <ion-select-option value="generic">Genèric</ion-select-option>
              <ion-select-option value="personalitzat"
                >Personalitzat</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row>
          <div *ngIf="newStateType === 'generic'">
            <div>
              <ion-item class="underline">
                <ion-select
                  placeholder="Selecciona un estat predefinit"
                  okText="Acceptar"
                  cancelText="Cancel·lar"
                  [(ngModel)]="selectedState"
                >
                  <ion-select-option
                    [value]="genState"
                    *ngFor="let genState of genStates"
                    >{{genState.translatedText}}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <ion-item class="underline">
                <ion-select
                  placeholder="Selecciona la localització (opcional)"
                  okText="Acceptar"
                  cancelText="Cancel·lar"
                  [(ngModel)]="selectedLocation"
                >
                  <ion-select-option
                    [value]="location"
                    *ngFor="let location of locations"
                    >{{location.locationName}}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <ion-button
                class="editButton"
                size="medium"
                color="primary-color"
                fill="outline"
                (click)="postGenericState()"
              >
                Enviar estat genèric
                <ion-icon slot="end" name="send-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div *ngIf="newStateType === 'personalitzat'">
            <ion-text color="dark">
              <h5>Introdueix l'estat personalitzable:</h5>
            </ion-text>
            <ion-item class="underline">
              <ion-input
                type="text"
                placeholder="Introdueixi el missatge personalitzat"
                [(ngModel)]="stateNameInput"
              ></ion-input>
            </ion-item>
            <ion-item class="underline">
              <ion-select
                placeholder="Selecciona la localització (opcional)"
                okText="Acceptar"
                cancelText="Cancel·lar"
                [(ngModel)]="selectedLocation"
              >
                <ion-select-option
                  [value]="location"
                  *ngFor="let location of locations"
                  >{{location.locationName}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-button
              class="editButton"
              size="medium"
              color="primary-color"
              fill="outline"
              (click)="postCustomState()"
            >
              Enviar estat personalitzat
              <ion-icon slot="end" name="send-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <ion-row>
          <ion-button
            class="editButton"
            size="medium"
            color="primary-color"
            fill="outline"
            (click)="directToStates()"
          >
            Consultar els estats del pacient
            <ion-icon slot="end" name="newspaper-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
