<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="assets/img/top_bar2.png" width="50px" slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="ion-text-center">
    <ion-card class="mainCard">
      <ion-card-content>
        <ion-row class="normalSpace">
          <ion-text>
            <h1>
              Pacient amb identificador:
              <font color="#3e4a74">{{patientId}}</font>
            </h1>
          </ion-text>
        </ion-row>
        <ion-row class="normalSpace">
          <ion-col size="9">
            <ion-text>
              <h2>Informació del pacient</h2>
            </ion-text>
          </ion-col>
          <ion-col class="displayPatientInfoButtonCol">
            <ion-button class="editButton" (click)="displayPatientInfo()"
              ><ion-icon name="caret-down-outline"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="lessSpace">
          <div *ngIf="showPatientInfo===true">
            <ion-col>
              <ion-card class="infoCard">
                <ion-card-content>
                  <ion-text>
                    <h5>
                      <strong>Nom: </strong>
                      <font color="#3e4a74">{{patientName}}</font>
                    </h5>
                    <h5>
                      <strong>Cognoms:</strong
                      ><font color="#3e4a74">
                        {{firstSurname}} {{secondSurname}}</font
                      >
                    </h5>
                    <h5>
                      <strong>CIP:</strong
                      ><font color="#3e4a74">
                        {{healthCardIdentifier.toUpperCase()}}</font
                      >
                    </h5>
                    <div *ngIf="hospitalCareType === 'urgencies'">
                      <h5>
                        <strong>Tipus d'atenció sanitària:</strong
                        ><font color="#3e4a74"> Urgències</font>
                      </h5>
                    </div>
                    <div *ngIf="hospitalCareType === 'quirurgic'">
                      <h5>
                        <strong>Tipus d'atenció sanitària:</strong
                        ><font color="#3e4a74"> Quirúrgic</font>
                      </h5>
                    </div>
                  </ion-text>
                  <ion-button class="editButton" (click)="goToModifyPatient()"
                    ><ion-icon name="create-outline"></ion-icon
                  ></ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </div>
        </ion-row>

        <ion-row class="normalSpace">
          <ion-button
            class="editButton"
            size="medium"
            (click)="presentAlertConfirm()"
          >
            Finalitzar seguiment del pacient
            <ion-icon slot="end" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row class="normalSpace">
          <ion-text color="dark">
            <h2>Afegir un estat nou al pacient:</h2>
            <h5>Tria un nou tipus d'estat:</h5>
          </ion-text>
        </ion-row>
        <ion-row class="normalSpace">
          <ion-item class="underline">
            <ion-select
              placeholder="Selecciona un tipus d'estat"
              okText="Acceptar"
              cancelText="Cancel·lar"
              [(ngModel)]="newStateType"
              interface="popover"
            >
              <ion-select-option value="generic">Genèric</ion-select-option>
              <ion-select-option value="personalitzat"
                >Personalitzat</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row class="normalSpace">
          <div *ngIf="newStateType === 'generic'">
            <div>
              <ion-item class="underline">
                <ionic-selectable
                  item-content
                  placeholder="Selecciona un estat predefinit"
                  [(ngModel)]="selectedState"
                  [items]="genStates"
                  itemTextField="translatedText"
                  [canSearch]="true"
                  closeButtonText="Cancel·lar"
                  searchPlaceholder="Selecciona un estat predefinit"
                  [canClear]="true"
                  clearButtonText="Eliminar selecció"
                >
                </ionic-selectable>
              </ion-item>
              <ion-button
                class="editButton"
                size="medium"
                (click)="postGenericState()"
              >
                Enviar estat genèric
                <ion-icon slot="end" name="send-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div *ngIf="newStateType === 'personalitzat'">
            <ion-text color="dark">
              <h5>Introdueix l'estat personalitzable:</h5>
            </ion-text>
            <ion-item class="underline">
              <ion-input
                type="text"
                placeholder="Introdueixi el missatge personalitzat"
                [(ngModel)]="stateNameInput"
              ></ion-input>
            </ion-item>
            <ion-item class="underline">
              <ionic-selectable
                item-content
                placeholder="Selecciona la localització"
                [(ngModel)]="selectedLocation"
                [items]="locations"
                itemTextField="locationName"
                [canSearch]="true"
                closeButtonText="Cancel·lar"
                searchPlaceholder="Selecciona la localització"
                [canClear]="true"
                clearButtonText="Eliminar selecció"
              >
              </ionic-selectable>
            </ion-item>
            <ion-button
              class="editButton"
              size="medium"
              (click)="postCustomState()"
            >
              Enviar estat personalitzat
              <ion-icon slot="end" name="send-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <ion-row class="normalSpace">
          <ion-button
            class="editButton"
            size="medium"
            (click)="directToStates()"
          >
            Consultar els estats del pacient
            <ion-icon slot="end" name="newspaper-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
