<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="assets/img/top_bar2.png" width="50px" slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-card class="content-card">
      <ion-card-content>
        <ion-title>
          <ion-text>
            <h1>Afegir un nou pacient</h1>
          </ion-text>
        </ion-title>
        <ion-row class="marginRow">
          <ion-text>
            <h5>Nom: *</h5>
          </ion-text> </ion-row
        ><ion-row>
          <ion-item class="underline">
            <ion-input type="text" [(ngModel)]="patientName"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text>
            <h5>Primer cognom: *</h5>
          </ion-text> </ion-row
        ><ion-row>
          <ion-item class="underline">
            <ion-input
              type="text"
              [(ngModel)]="patientFirstSurname"
            ></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text>
            <h5>Segon cognom:</h5>
          </ion-text> </ion-row
        ><ion-row>
          <ion-item class="underline">
            <ion-input
              type="text"
              [(ngModel)]="patientSecondSurname"
            ></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text color="dark">
            <h5>Número de targeta sanitària: *</h5>
          </ion-text> </ion-row
        ><ion-row>
          <ion-item class="underline">
            <ion-input
              type="text"
              [(ngModel)]="healthCardIdentifier"
            ></ion-input>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-text color="dark">
            <h5>Tipus d'atenció sanitària: *</h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-item class="underline">
            <ion-select
              placeholder="Tipus d'atenció sanitària"
              okText="Acceptar"
              cancelText="Cancel·lar"
              [(ngModel)]="healthCareType"
            >
              <ion-select-option value="quirurgic">Quirúrgic</ion-select-option>
              <ion-select-option value="urgencies">Urgències</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row class="marginRow">
          <ion-title>
            <ion-button
              class="createPatientButton"
              size="medium"
              (click)="createPatient()"
            >
              Crear pacient
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-title>
        </ion-row>

        <div *ngIf="showCreatedPatientId">
          <ion-row>
            <ion-text>
              <h2>
                El pacient creat té el identificador:
                <strong
                  ><font color="#3e4a74"
                    >{{patientId.toUpperCase()}}</font
                  ></strong
                >
              </h2>
            </ion-text>
          </ion-row>
        </div>
        <div *ngIf="showCreatedAdmissionId">
          <ion-row>
            <ion-text>
              <h2>
                Seguiment creat pel pacient amb identificador:
                <strong
                  ><font color="#3e4a74"
                    >{{patientId.toUpperCase()}}</font
                  ></strong
                >
              </h2>
            </ion-text>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
