<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <img src="assets/img/top_bar.png" width="200px" class="top-bar" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-card class="content-card">
        <ion-card-content>
          <ion-text color="dark">
            <h1>App per a pacients i familiars</h1>
          </ion-text>
          <br />
          <ion-text color="dark">
            <h5>Introdueix l'identificador o número de targeta sanitària</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-input
              type="text"
              [(ngModel)]="searchInput"
              id="input"
              class="ion-text-center"
            ></ion-input>
          </ion-item>
          <ion-button
            class="searchButton"
            size="medium"
            color="primary-color"
            fill="outline"
            (click)="directToPatientInfo()"
          >
            Cerca
            <ion-icon slot="start" name="search"></ion-icon>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-button>
          <br />
          <br />
          <ion-row>
            <ion-button
              class="searchButton"
              size="medium"
              color="primary-color"
              fill="outline"
              (click)="directToCreatePatient()"
            >
              Crear un nou pacient
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
